<?xml version="1.0" encoding="utf-8"?>
<!-- Test Comment: Last updated 2025-01-17 to verify config file transfer -->
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet"
						arguments=".\DopamineDetoxAPI.dll"
						stdoutLogEnabled="false"
						hostingModel="inprocess" />
		</system.webServer>
	</location>
</configuration>