<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet"
					arguments=".\DopamineDetoxAPI.dll"
					stdoutLogEnabled="true"
					stdoutLogFile=".\logs\stdout"
					hostingModel="inprocess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Test" />
				<environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
			</environmentVariables>
		</aspNetCore>
		<security>
			<requestFiltering allowDoubleEscaping="true"/>
		</security>
		<httpErrors errorMode="Detailed"/>
	</system.webServer>
</configuration>